<%= link_to '回到首頁', categories_path %>
<br>
<%= link_to '新增商品項目', new_category_item_path(@category) %>
<h1><%= "第#{@category.number}類商標" %>:</h1>
<h1><%= @category.name %></h1>

<br>
<% @category.items.each do |item| %>
  <%= item.group_code %>
  <%= link_to item.name, edit_category_item_path(@category, item) %>
  <br>
<% end %>
