<%= link_to '登入', new_user_session_path %>
<br>
<%= link_to '登出', destroy_user_session_path, method: :delete %>
<br>
<%= link_to '回到首頁', categories_path %>
<br>
<%= link_to '新增商品項目', new_category_item_path(@category) %>
<h1><%= "第#{@category.number}類商標" %>:</h1>
<h1><%= @category.name %></h1>

<br>
<% @uniq_group_codes.each do |group_code| %>
  <h1><%= "群組代碼：#{group_code}" %></h1>
  <% @category.items.where(group_code: group_code).each do |item| %>
    <%= item.group_code %>
    <%= link_to item.name, edit_category_item_path(@category, item) %>
  <% end %>
<% end %>
